.tweet {
  position: relative;
  min-height: 51px;
  padding: 9px 12px;
  border-bottom: 1px solid #E8E8E8;
}
.stream-item .content, .permalink-tweet .content {
  margin-left: 58px;
}

.tweet .time {
  position: relative;
  float: right;
  margin-top: 1px;
  color: #BBB;
}

.stream-item-header .avatar, .permalink-header .avatar {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 48px;
  height: 48px;
}

.permalink-link {
  float: right;
  text-decoration: underline;
  display: inline;
}

a.permalink-link:link {
  text-decoration: underline;
}

.js-action-profile-name s {
  text-decoration: none;  
}

