#twitter-geo-search-form .form-item-term {
  display: inline;
}

#twitter-geo-search-form .form-submit {
  display: inline;
}

#twitter-geo-search-form .form-item-lang {
  display: inline;
}

#twitter-geo-search-form .form-item-distance {
  display: inline;
}

label[for=edit-lang], label[for=edit-distance] {
  display: inline;
}
